In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Gabriel Da Cachoeira,BR,2021-01-09 05:09:37,-0.1303,-67.0892,70.2,99,100,2.48
1,1,Nishihara,JP,2021-01-09 05:09:38,26.1842,127.7558,51.8,50,90,17.27
2,2,Kaitangata,NZ,2021-01-09 05:09:38,-46.2817,169.8464,59.0,65,68,15.01
3,3,Punta Arenas,CL,2021-01-09 05:09:39,-53.1500,-70.9167,48.2,71,40,24.16
4,4,Khorramshahr,IR,2021-01-09 05:09:39,30.4397,48.1664,44.6,87,0,4.45

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [18]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Gabriel Da Cachoeira,BR,2021-01-09 05:09:37,-0.1303,-67.0892,70.20,99,100,2.48
8,8,Hilo,US,2021-01-09 05:06:27,19.7297,-155.0900,73.40,78,75,2.86
12,12,Amapa,BR,2021-01-09 05:09:41,1.0000,-52.0000,71.42,98,93,2.26
15,15,Kapaa,US,2021-01-09 05:09:42,22.0752,-159.3190,72.00,78,1,6.91
16,16,Kontagora,NG,2021-01-09 05:09:43,10.3999,5.4695,71.33,24,47,5.55
18,18,Atuona,PF,2021-01-09 05:09:43,-9.8000,-139.0333,77.67,76,9,20.22
20,20,Saint-Georges,GD,2021-01-09 05:09:44,12.0564,-61.7485,77.00,83,20,5.75
22,22,Livingstone,ZM,2021-01-09 05:09:45,-17.8419,25.8543,70.03,93,100,4.81
25,25,Rikitea,PF,2021-01-09 05:09:45,-23.1203,-134.9692,78.31,76,82,9.84
27,27,Meulaboh,ID,2021-01-09 05:09:46,4.1363,96.1285,83.43,69,100,5.50

In [19]:
preferred_cities_df.count()

City_ID       197
City          197
Country       196
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [20]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                        City Country  Max Temp      Lat       Lng Hotel Name
0   Sao Gabriel Da Cachoeira      BR     70.20  -0.1303  -67.0892
8                       Hilo      US     73.40  19.7297 -155.0900
12                     Amapa      BR     71.42   1.0000  -52.0000
15                     Kapaa      US     72.00  22.0752 -159.3190
16                 Kontagora      NG     71.33  10.3999    5.4695
18                    Atuona      PF     77.67  -9.8000 -139.0333
20             Saint-Georges      GD     77.00  12.0564  -61.7485
22               Livingstone      ZM     70.03 -17.8419   25.8543
25                   Rikitea      PF     78.31 -23.1203 -134.9692
27                  Meulaboh      ID     83.43   4.1363   96.1285

In [21]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:

hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sao Gabriel Da Cachoeira,BR,70.20,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
8,Hilo,US,73.40,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Amapa,BR,71.42,1.0000,-52.0000,
15,Kapaa,US,72.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
16,Kontagora,NG,71.33,10.3999,5.4695,City Gate Inn

In [25]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))