## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sierra Vista,US,31.5545,-110.3037,48.20,18,1,10.36,clear sky
1,1,Ilulissat,GL,69.2167,-51.1000,8.60,56,40,23.02,light snow
2,2,Wajima,JP,37.4000,136.9000,26.60,100,90,2.30,snow
3,3,Salalah,OM,17.0151,54.0924,77.94,27,0,9.53,clear sky
4,4,Nikolskoye,RU,59.7035,30.7861,12.00,85,0,4.47,clear sky

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
new_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Salalah,OM,17.0151,54.0924,77.94,27,0,9.53,clear sky
5,5,Buchanan,LR,5.8808,-10.0467,77.00,94,75,2.44,mist
7,7,Kousseri,CM,12.0769,15.0306,75.20,23,29,12.66,scattered clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,81.72,74,32,10.09,scattered clouds
9,9,Rikitea,PF,-23.1203,-134.9692,78.15,76,100,7.34,light rain
...,...,...,...,...,...,...,...,...,...,...
654,654,Tura,IN,25.5198,90.2201,77.90,39,100,6.33,overcast clouds
655,655,Mogadishu,SO,2.0371,45.3438,81.72,55,0,21.43,clear sky
656,656,Sungaipenuh,ID,-2.0833,101.3833,71.89,84,100,3.71,moderate rain
659,659,Barra Patuca,HN,15.8000,-84.2833,74.62,79,100,6.71,overcast clouds
661,661,Sao Sebastiao,BR,-23.7600,-45.4097,75.04,85,77,0.85,broken clouds

In [21]:
# 4a. Determine if there are any empty rows.
new_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
new_df = new_df.dropna()

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Salalah,OM,77.94,clear sky,17.0151,54.0924,
5,Buchanan,LR,77.00,mist,5.8808,-10.0467,
7,Kousseri,CM,75.20,scattered clouds,12.0769,15.0306,
8,Hithadhoo,MV,81.72,scattered clouds,-0.6000,73.0833,
9,Rikitea,PF,78.15,light rain,-23.1203,-134.9692,
10,Thinadhoo,MV,81.70,overcast clouds,0.5333,72.9333,
11,Namibe,AO,71.65,overcast clouds,-15.1961,12.1522,
13,Hobart,AU,72.00,broken clouds,-42.8794,147.3294,
17,Vaini,TO,78.80,scattered clouds,-21.2000,-175.2000,
20,Hermanus,ZA,75.00,scattered clouds,-34.4187,19.2345,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Salalah,OM,77.94,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL
5,Buchanan,LR,77.00,mist,5.8808,-10.0467,Kamaneahn Hotel Inc
7,Kousseri,CM,75.20,scattered clouds,12.0769,15.0306,RÃ©sidence le Palmier
8,Hithadhoo,MV,81.72,scattered clouds,-0.6000,73.0833,Scoop Guest House
9,Rikitea,PF,78.15,light rain,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...
654,Tura,IN,77.90,overcast clouds,25.5198,90.2201,Hotel RIKMAN Continental
655,Mogadishu,SO,81.72,clear sky,2.0371,45.3438,Hotel Juba
656,Sungaipenuh,ID,71.89,moderate rain,-2.0833,101.3833,Hotel Jaya Wisata 2
659,Barra Patuca,HN,74.62,overcast clouds,15.8000,-84.2833,
661,Sao Sebastiao,BR,75.04,broken clouds,-23.7600,-45.4097,Hotel Recanto dos PÃ¡ssaros

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))